name: docker

on:
  push:
    branches:
      - 'develop'
      - 'main'

env:
  DOCKERHUB_TAG: ${{ env.BRANCH == 'main' && 'latest' || 'develop' }}


jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - 
        id: container_name
        uses: ASzc/change-string-case-action@v5
        with:
          string: ${{ github.repository_owner }}/${{ github.event.repository.name }}
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ steps.container_name.outputs.lowercase }}:${{ env.DOCKERHUB_TAG }}

